{
  "mongodb": {
    "server": "localhost",
    "port": "27017"
  },

  // set useBasicAuth to true if you want to basicAuth before login
  // if it is false, the basicAuth list below will be ignored
  "useBasicAuth": true,

  "basicAuth": {
    "username": "admin",
    "password": "pass"
  }

  "options": {
    "documentsPerPage": 5
  }
}
