javascript:
  var document = CodeMirror.fromTextArea(document.getElementById('document'), {
    mode: { name: "javascript", json: true },
    indentUnit: 2,
    theme: "rubyblue",
    lineNumbers: true
  });
